body.dark-mode {
    background-color: #1a202c;
    color: #e2e8f0;
}

body.dark-mode header {
    background-color: #2d3748;
}

body.dark-mode #contact {
    background-color: #4a5568;
}

.transition {
    transition: all 0.3s ease;
}
